<!DOCTYPE html>
<html>
    <head>
        <title>Weather Port</title>
        {{!-- <link rel="stylesheet" href="./css/styles.css"> --}}
    </head>
    <body>
        <h1 style="text-align: center; color: grey;">{{title}}</h1>
        <h3 style="text-align: center; color: grey;">{{msg}}</h3>
    </body>
</html>