<nav class="navbar bg-dark fixed-bottom" style="background-color:darkgray; position: absolute;
  bottom: 0; width: 100%; margin-bottom:0px;">
    <a class="navbar-brand" style="text-align: center;" >A Tikshana Sense Initiative</a>
</nav>