<nav class="navbar bg-dark" style="background-color:darkgray;">
    <a class="navbar-brand"><strong style="font-family:brush script MT; font-size:40px;">Weather Port</strong></a>
    <ul class="navbar-nav" style="float:right">
        <li class="nav-item"  style="float:right; margin: 20px !important">
            <a class="nav-link"  href="">Forecast</a>
        </li>
        <li class="nav-item"  style="float:right; margin: 20px !important">
            <a class="nav-link" href="">About</a>
        </li>
        <li class="nav-item"  style="float:right; margin: 20px !important">
            <a class="nav-link" href="">Help</a>
        </li>
    </ul>
</nav>